<!DOCTYPE html>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CAKES</title>
    <link rel="stylesheet" href="../style.css">
    <style>

    </style>
</head>

<body>
<div class="wrapper">
    <div class="sidebar">
        <div class="sidebar-add">
            <form th:action="@{/admin/addCake}" th:object="${cake}" th:method="post">
                <fieldset>
                    <p  style="
                        color: white">Name:</p>
                    <p> <input type="text" th:field="*{name}"></p>
                </fieldset>
                <fieldset>
                    <p  style="
                        color: white">Calories:</p>
                    <p> <input type="number" step="25" th:field="*{calories}"></p>
                </fieldset>
                <fieldset>
                    <p  style="
                        color: white">Price:</p>
                    <p> <input type="number" step="25" th:field="*{price}"></p>
                </fieldset>
                <fieldset>
                    <p  style="
                        color: white">Weight:</p>
                    <p> <input type="number" step="25" th:field="*{weight}"></p>
                </fieldset>
                <fieldset>
                    <p  style=" color: white">Image:</p>
                    <p><input type="text" th:field="*{image}"></p>
                </fieldset>
                <div class="header-request-add">
                    <button style=" text-decoration: none;
            color: #0c0b0b;" type="submit">Добавить тортик</button>
                </div>
            </form>
        </div>
    </div>
    <div class ="container">
        <div class="header">
            <div class="header-menu">
                <div class="header-menu-request">
                    <div class="header-menu-request-image" style="background-image: url(/static/search.png)"></div>
                    <div class="header-menu-request-words">Поиск по тортикам...</div>
                </div>
                <div class="header-request-find">Искать</div>
                <div class="header-request-home"><a href="home">HOME</a></div>
            </div>
        </div>
        <div class="content">
            <div class="cake-information">
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Calories</th>
                        <th>Price</th>
                        <th>Weight</th>
                        <th>Image</th>
                    </tr>
                    </thead>
                    <tbody th:each="cake, iStat : ${cakes}">
                    <tr>
                        <td th:text="${cake.getId()}"></td>
                        <td th:text="${cake.getName()}"></td>
                        <td th:text="${cake.getCalories()}"></td>
                        <td th:text="${cake.getPrice()}"></td>
                        <td th:text="${cake.getWeight()}"></td>
                        <td th:text="${cake.getImage()}"></td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <br/>
            </div>
            <div class="delete-button">
                <form th:action="@{/admin/deleteCake}" th:object="${cake}" th:method="post">
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th></th>
                        </tr>
                        </thead>
                        <td>
                            <input style="height:15px;width:137px" type="number" th:field="*{id}">
                        </td>
                        <td>
                            <div class="header-request-delete">
                                <button style=" text-decoration: none;
            color: #0c0b0b;" type="submit">Удалить тортик</button>
                            </div>
                        </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>